* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

h1,
h2 {
    background-color: #b4823b;
    color: white;
    padding: 30px;
}

h1 {
    text-align: center;
}

h2 {
    padding: 6px;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

ul,
ol{
    margin: 50px;
}

ul {
    font-weight: bold;
}

ul a {
    font-size: 24px;
}

li {
    margin: 10px;
}

img {
    height: 300px;
    width: 400px;
}